
#employer{
  background-color: #4A403A;
}

#employee{
  background-color: #3D2C8D;
}

.formbox{
  background-color: white;
  padding: 30px;
  border-radius: 30px;

  position: absolute;
  top: 25%;
  left:25%;
}
